<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edificios App</title>
    <meta name="description" content="description"/>
<!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand fs-2 text-white" href="#">Edificios App</a>
        </div>
      </nav>

      <br>


      <form class="row g-3 my-3" id="formEdificio">
        <input type="hidden" class="form-control" id="idEdificio" name="idEdificio"   [(ngModel)]="edificio.idEdificio" value="{{edificio.idEdificio}}" required>
        <div class="col-md-2">
          <label for="clave" class="form-label">Clave</label>
          <input type="text" class="form-control" id="clave" name="clave"   [(ngModel)]="edificio.clave" value="{{edificio.clave}}" required>
        </div>
        <div class="col-md-2">
          <label for="Nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre"  [(ngModel)]="edificio.nombre" value="{{edificio.nombre}}" required>
        </div>
        <div class="col-md-2">
          <label for="metrosCuadrados" class="form-label">Metros cuadrados</label>
            <input type="number" class="form-control" id="metrosCuadrados" name="metrosCuadrados"  [(ngModel)]="edificio.metrosCuadrados"
             value="{{edificio.metrosCuadrados}}" required>
        </div>
        <div class="col-md-2">
          <label for="altura" class="form-label">Altura</label>
          <input type="number" class="form-control" id="altura" name="altura" [(ngModel)]="edificio.altura" value="{{edificio.altura}}" required>
        </div>
        <div class="col-md-2">
          <label for="pais" class="form-label">Pais</label>
          <input type="text" class="form-control" id="pais" name="pais" required [(ngModel)]="edificio.pais" value="{{edificio.pais}}">
        </div>
        <div class="col-md-2">
          <label for="departamento" class="form-label">Departamento</label>
          <input type="text" class="form-control" id="departamento" name="departamentos" [(ngModel)]="edificio.departamento" value="{{edificio.departamento}}" required>
        </div>
        <div class="col-md-2">
          <label for="ciudad" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="ciudad" name="ciudad" [(ngModel)]="edificio.ciudad" value="{{edificio.ciudad}}" required>
        </div>

        <div class="col-md-2">
          <label for="numeroApartamentos" class="form-label">Numero de apartamentos</label>
          <input type="number" class="form-control" id="numeroApartamentos" name="numeroApartamentos" [(ngModel)]="edificio.numeroApartamentos" 
          value="{{edificio.numeroApartamentos}}" required>
        </div>
        <div class="col-md-2">
          <label for="valorAdministracion" class="form-label">Valor administracion</label>
          <input type="number" class="form-control" id="valorAdministracion" name="valorAdministracion" [(ngModel)]="edificio.valorAdministracion" 
          value="{{edificio.valorAdministracion}}"  required>
        </div>
        <div class="col-">
          <button class="btn btn-primary" type="button" (click) = "guardar()" >Guardar datos</button>
        </div>
      </form>



     <table class="table table-sm table-bordered border border-primary" style="width: 100%">
        <thead  class="table-dark">
          <tr>
            <th scope="col">Clave</th>
            <th scope="col">Nombre</th>
            <th scope="col">Metros Cuadrados</th>
            <th scope="col">Altura</th>
            <th scope="col">Pais</th>
            <th scope="col">Departamento</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Numero de Apartamentos</th>
            <th scope="col">Valor administracion</th>
            <th scope="col">Acciones</th>


          </tr>
        </thead>
        <tbody *ngFor="let edificio of edificios " >
          <tr>
            <td hidden >{{edificio.idEdificio}}</td>
            <td>{{edificio.clave}}</td>
            <td>{{edificio.nombre}}</td>
            <td>{{edificio.metrosCuadrados}}</td>
            <td>{{edificio.altura}}</td>
            <td>{{edificio.pais}}</td>
            <td>{{edificio.departamento}}</td>
            <td>{{edificio.ciudad}}</td>
            <td>{{edificio.numeroApartamentos}}</td>
            <td>{{edificio.valorAdministracion}}</td>
            <td> 
                <a class="btn btn-warning mx-2" (click) = "editar(edificio.idEdificio)"><i class="bi bi-pencil-fill"></i></a>
                <a class="btn btn-danger" (click) = "eliminar(edificio.idEdificio)" ><i class="bi bi-trash3-fill"></i></a>
            </td>

          </tr>
    
        </tbody>
      </table>


  </body>
</html>